extends layout-backend

block content-back
  section.content-header
    h1 Welcome to Dashboard Carfix
    ol.breadcrumb
      li
        a(href='http://localhost:3000/administrator/dashboard')
          i.fa.fa-dashboard
          |  Administrator
      li.active Dashboard

  section.content
    