extends layout-backend

block content-back
  section.content-header
    h1 Welcome to Dashboard Carfix
    ol.breadcrumb
      li
        a(href=env.URL_HOST+'administrator/dashboard')
          i.fa.fa-dashboard
          |  Administrator
      li.active Dashboard

  section.content
    