extends layout-front

block content-front
  section.page-title-section.section-padding
    .container
      .row
        .col-md-12
          .title-center
            .title-middle
              h2.page-tagline Know about ourselves
              h1.page-title Our Stories
  section.Material-blog-post-page.section-padding
    .container
      .row
        .col-md-12.col-lg-8.col-xs-12.blog-post-column
          .row
            .col-md-6.no-padding
              .col-md-12.wow.animated.fadeInUp(data-wow-delay='.2s')
                article.single-blog-post
                  .featured-image
                    a(href='#')
                      img(src='assets/images/blog/featured1.jpg' alt='')
                  .post-meta
                    .post-date
                      span
                        b Jan 25 2018
                    a(href='blog-single.html')
                      h2.subtitle MUSIC for refreshment
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum maiores dolorum similique obcaecati perspiciatis.
                  .meta-tags
                    span.comments
                      a(href='#')
                        i.mdi.mdi-comment-outline
                        |  24 Comments
                    a.btn.btn-round.btn-fab(href='blog-single.html')
                      i.material-icons.mdi.mdi-arrow-right
                      .ripple-container
              .col-md-12.wow.animated.fadeInUp(data-wow-delay='.3s')
                article.single-blog-post
                  .featured-image
                    a(href='#')
                      img(src='assets/images/blog/featured2.jpg' alt='')
                  .post-meta
                    .post-date
                      span
                        b Feb 25 2018
                    a(href='blog-single.html')
                      h2.subtitle Kelly Grover
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum maiores dolorum similique obcaecati perspiciatis.
                  .meta-tags
                    span.comments
                      a(href='#')
                        i.mdi.mdi-comment-outline
                        |  24 Comments
                    a.btn.btn-round.btn-fab(href='blog-single.html')
                      i.material-icons.mdi.mdi-arrow-right
                      .ripple-container
              .col-md-12.wow.animated.fadeInUp(data-wow-delay='.4s')
                article.single-blog-post
                  .featured-image
                    a(href='#')
                      img(src='assets/images/blog/featured3.jpg' alt='')
                  .post-meta
                    .post-date
                      span
                        b Mar 25 2018
                    a(href='blog-single.html')
                      h2.subtitle We support your custom
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum maiores dolorum similique obcaecati perspiciatis.
                  .meta-tags
                    span.comments
                      a(href='#')
                        i.mdi.mdi-comment-outline
                        |  24 Comments
                    a.btn.btn-round.btn-fab(href='blog-single.html')
                      i.material-icons.mdi.mdi-arrow-right
                      .ripple-container
              .col-md-12.wow.animated.fadeInUp(data-wow-delay='.5s')
                article.single-blog-post
                  .featured-image
                    a(href='#')
                      img(src='assets/images/blog/featured4.jpg' alt='')
                  .post-meta
                    .post-date
                      span
                        b April 25 2018
                    a(href='blog-single.html')
                      h2.subtitle We love photography
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum maiores dolorum similique obcaecati perspiciatis.
                  .meta-tags
                    span.comments
                      a(href='#')
                        i.mdi.mdi-comment-outline
                        |  24 Comments
                    a.btn.btn-round.btn-fab(href='blog-single.html')
                      i.material-icons.mdi.mdi-arrow-right
                      .ripple-container
            .col-md-6.no-padding
              .col-md-12.wow.animated.fadeInUp(data-wow-delay='.3s')
                article.single-blog-post
                  .featured-image
                    a(href='#')
                      img(src='assets/images/blog/featured5.jpg' alt='')
                  .post-meta
                    .post-date
                      span
                        b Sep 25 2018
                    a(href='blog-single.html')
                      h2.subtitle Kelly Grover
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum maiores dolorum similique obcaecati perspiciatis.
                  .meta-tags
                    span.comments
                      a(href='#')
                        i.mdi.mdi-comment-outline
                        |  24 Comments
                    a.btn.btn-round.btn-fab(href='blog-single.html')
                      i.material-icons.mdi.mdi-arrow-right
                      .ripple-container
              .col-md-12.wow.animated.fadeInUp(data-wow-delay='.5s')
                article.single-blog-post
                  .featured-image
                    a(href='#')
                      img(src='assets/images/blog/featured6.jpg' alt='')
                  .post-meta
                    .post-date
                      span
                        b Oct 25 2018
                    a(href='blog-single.html')
                      h2.subtitle Kelly Grover
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum maiores dolorum similique obcaecati perspiciatis.
                  .meta-tags
                    span.comments
                      a(href='#')
                        i.mdi.mdi-comment-outline
                        |  24 Comments
                    a.btn.btn-round.btn-fab(href='blog-single.html')
                      i.material-icons.mdi.mdi-arrow-right
                      .ripple-container
              .col-md-12.wow.animated.fadeInUp(data-wow-delay='.6s')
                article.single-blog-post
                  .featured-image
                    a(href='#')
                      img(src='assets/images/blog/featured7.jpg' alt='')
                  .post-meta
                    .post-date
                      span
                        b Nov 25 2018
                    a(href='blog-single.html')
                      h2.subtitle Kelly Grover
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum maiores dolorum similique obcaecati perspiciatis.
                  .meta-tags
                    span.comments
                      a(href='#')
                        i.mdi.mdi-comment-outline
                        |  24 Comments
                    a.btn.btn-round.btn-fab(href='blog-single.html')
                      i.material-icons.mdi.mdi-arrow-right
                      .ripple-container
              .col-md-12.wow.animated.fadeInUp(data-wow-delay='.7s')
                article.single-blog-post
                  .featured-image
                    a(href='#')
                      img(src='assets/images/blog/featured8.jpg' alt='')
                  .post-meta
                    .post-date
                      span
                        b Dec 25 2018
                    a(href='blog-single.html')
                      h2.subtitle Kelly Grover
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio perferendis assumenda ipsum maiores dolorum similique obcaecati perspiciatis.
                  .meta-tags
                    span.comments
                      a(href='#')
                        i.mdi.mdi-comment-outline
                        |  24 Comments
                    a.btn.btn-round.btn-fab(href='blog-single.html')
                      i.material-icons.mdi.mdi-arrow-right
                      .ripple-container
            .col-md-12.text-center.mt-3.blog-pagination.wow.animated.fadeInUp(data-wow-delay='.4s')
              a.btn.btn-common(href='javascript:void(0)')
                i.material-icons.mdi.mdi.mdi-autorenew
                |  Load More Stories
                .ripple-container
        .col-md-12.col-lg-4.col-xs-12.blog-sidebar-column
          aside.col-md-12.single-sidebar-widget.author-widget.no-padding.wow.animated.fadeInUp(data-wow-delay='.2s')
            .author-bg
              img(src='assets/images/blog/author-bg.jpg' alt='')
            .author-info
              .author-name
                .author-intro
                  h3 Jhon Doe
                  p Front End Developer
                .author-image
                  img.img-circle(src='assets/images/blog/author.jpg' alt='')
              .author-bio
                p
                  | While you are planning for a trip then you always search for a best place to visit because that time you have looked for many of places in your mind. Same time, when the thought of Shimla comes in your mind, you stop the thoughts about other places because the gorgeousness of natural beauty of Shimla.
          aside.col-md-12.single-sidebar-widget.subscribe-widget.no-padding.wow.animated.fadeInUp(data-wow-delay='.3s')
            .sidebar-widget-title
              h2 Follow &amp; Subscribe
            .social-profiles.clearfix
              .footer-contact-widget
                ul
                  li
                    a(href='#')
                      i.mdi.mdi-facebook
                  li
                    a(href='#')
                      i.mdi.mdi-twitter
                  li
                    a(href='#')
                      i.mdi.mdi-dribbble
                  li
                    a(href='#')
                      i.mdi.mdi-github-circle
                  li
                    a(href='#')
                      i.mdi.mdi-linkedin
            .subscribe-box
              p
                | Sign up for new Shelver content, updates,
                br
                | surveys &amp; offers.
              .input-group
                input.form-control(type='email' placeholder='type your email')
                span.input-group-btn
                  button.btn.btn-round.btn-fab(type='button')
                    i.material-icons.mdi.mdi-arrow-right
          aside.col-md-12.single-sidebar-widget.flickr-widget.no-padding.wow.animated.fadeInUp(data-wow-delay='.4s')
            .sidebar-widget-title
              h2 Categories
            ul.categories-list
              li
                a(href='#') Lifestyle (21)
              li
                a(href='#') Photography (19)
              li
                a(href='#') Journal (16)
              li
                a(href='#') Works (7)
          aside.col-md-12.single-sidebar-widget.instagram-widget.no-padding.wow.animated.fadeInUp(data-wow-delay='.3s')
            .sidebar-widget-title
              h2 Instagram Feed
            .instagram-feed.clearfix
              ul
                li
                  a(href='#')
                    img(src='assets/images/Instagram/insta1.jpg' alt='')
                li
                  a(href='#')
                    img(src='assets/images/Instagram/insta2.jpg' alt='')
                li
                  a(href='#')
                    img(src='assets/images/Instagram/insta3.jpg' alt='')
                li
                  a(href='#')
                    img(src='assets/images/Instagram/insta4.jpg' alt='')
                li
                  a(href='#')
                    img(src='assets/images/Instagram/insta5.jpg' alt='')
                li
                  a(href='#')
                    img(src='assets/images/Instagram/insta6.jpg' alt='')
          aside.col-md-12.single-sidebar-widget.flickr-widget.no-padding.wow.animated.fadeInUp(data-wow-delay='.4s')
            .sidebar-widget-title
              h2 Flickr Slider
            .flickr-feed.clearfix
              #flickr-carousel.owl-carousel.owl-theme
                .item.active
                  img.img-fluid(src='assets/images/Instagram/flickr1.jpg' alt='')
                .item
                  img.img-fluid(src='assets/images/Instagram/flickr2.jpg' alt='')
                .item
                  img.img-fluid(src='assets/images/Instagram/flickr3.jpg' alt='')
