doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Carfix Indonesia
    link(rel='icon', href='assets/images/logo/icon-med.jpg')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/material.min.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/ripples.min.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/owl.carousel.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/magnific-popup.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/slicknav.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/animate.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/style.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/responsive.css')
    link(rel='stylesheet', href='http://localhost:3000/assets/css/color-switcher.css')
    link(rel='stylesheet', type='text/css', href='http://localhost:3000/assets/css/colors/indigo.css', media='screen')
    script(src="https://unpkg.com/vue")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
  body
    header#header
      nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.nav-bg(style='border-bottom: 4px solid #5166d8;')
        .container
          .navbar-header
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
              span.sr-only Toggle navigation
              span.mdi.mdi-menu
              span.mdi.mdi-menu
              span.mdi.mdi-menu
            a.navbar-brand(href='/')
              img(src='http://localhost:3000/assets/images/logo/logo-carfix.png', alt='')
          #main-navbar.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.w-100.justify-content-end
              li.nav-item
                a.nav-link(href='/home') 
                  i.mdi.mdi-home
                  |  Home
              li.nav-item
                a.nav-link(href='/products') 
                  i.mdi.mdi-star-circle
                  |  Products
              li.nav-item.dropdown#appMenu
                a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  i.mdi.mdi-sitemap
                  |  Networks
                .dropdown-menu
                  template(v-for='itemMenu in menuResults')
                    a.dropdown-item(v-bind:href='itemMenu.link', target='_blank') {{ itemMenu.title }}
              li.nav-item
                a.nav-link(href='/promo') 
                  i.mdi.mdi-tag-heart
                  |  Promo
              li.nav-item
                a.nav-link(href='/tipsntrick')
                  i.mdi.mdi-blinds
                  |  Tips & Trick
              li.nav-item
                a.nav-link(href='/eventnnews')
                  i.mdi.mdi-newspaper
                  |  Event & News
              li.nav-item
                a.nav-link(href='/contactus') 
                  i.mdi.mdi-contacts
                  |  Contact Us
            .search-icon
              span.open-search
                i.mdi.mdi-magnify.btn.btn-common
            form.navbar-form(role='search')
              .container
                .row
                  .form-group.has-feedback
                    input.form-control(type='text', placeholder='Type and search ...')
                    .close
                      i.mdi.mdi-close
        ul.wpb-mobile-menu
          li
            a(href='/home') Home
          li
            a(href='/products') Products
          li
            a(href='#') Networks
            ul.dropdown
              li
                a(href='http://carfix-tugu.business.site') Carfix Tugu
              li
                a(href='http://carfix-majapahit.business.site') Carfix Majapahit
              li
                a(href='http://carfix-ws-supratman.business.site') Carfix WR Supratman
              li
                a(href='http://carfix-mrican.business.site') Carfix Mrican
              li
                a(href='http://carfix-solo.business.site') Carfix Yos Sudarso
              li
                a(href='http://carfix-bantul.business.site') Carfix Bantul
          li
            a(href='/promo') Promo
          li
            a(href='/tipsntrick') Tips & Trick
          li
            a(href='/contactus') Contact Us
    
    block content-front

    footer.page-footer.center-on-small-only.pt-0.footer-widget-container
      .container.pt-5.mb-5
        .row
          .col-md-6.col-lg-3.col-xl-3.footer-contact-widget
            h3.footer-title About Us
            p
              | Carfix adalah Bengkel Mobil dengan Tools Modern, Mechanic professional, dan System Management Modern. 
            p
              | Optimalkan kondisi mobil kesayangan Anda dengan mengunjungi cabang-cabang kami sekarang juga.
            ul
              li
                a(href='https://facebook.com/carfixindonesia', target='blank')
                  i.mdi.mdi-facebook
              li
                a(href='https://twitter.com/carfixindoensia', target='_blank')
                  i.mdi.mdi-twitter
              li
                a(href='#')
                  i.mdi.mdi-dribbble
              li
                a(href='#')
                  i.mdi.mdi-github-circle
              li
                a(href='index.html#')
                  i.mdi.mdi-linkedin
          .col-md-6.col-lg-3.col-xl-3.recent-widget
            h3.footer-title Recent Posts
            ul.image-list
              li
                figure.overlay
                  img.img-fluid(src='http://localhost:3000/assets/images/art/a1.jpg', alt='')
                  figcaption
                    a(href='blog-single.html')
                      i.mdi.mdi-link-variant.from-top.icon-xs
                .post-content
                  h6.post-title
                    a(href='blog-single.html') Fusce gravida tortor felis
                  .meta
                    span.date 12 Jan 2019
              li
                figure.overlay
                  img.img-fluid(src='http://localhost:3000/assets/images/art/a2.jpg', alt='')
                  figcaption
                    a(href='blog-single.html')
                      i.mdi.mdi-link-variant.from-top.icon-xs
                .post-content
                  h6.post-title
                    a(href='blog-single.html') Ornare Nullam Risus Cursus
                  .meta
                    span.date 12 Jan 2019
              li
                figure.overlay
                  img.img-fluid(src='http://localhost:3000/assets/images/art/a3.jpg', alt='')
                  figcaption
                    a(href='blog-single.html')
                      i.mdi.mdi-link-variant.from-top.icon-xs
                .post-content
                  h6.post-title
                    a(href='blog-single.html') Euismod Nullam Fusce Dapibus
                  .meta
                    span.date 12 Jan 2019
          .col-md-6.col-lg-3.col-xl-3.link-widget
            h3.footer-title Get in Touch
            p
              | Siap membantu semua jenis type mobil, dan melayani segala service mobil.
            .mt-3
            ul.icon-list
              li
                i.mdi.mdi-map-marker
                | Jln Puspowarno Tengah 7-11 Semarang.
              li
                i.mdi.mdi-email
                | info@carfix.co.id
              li
                i.mdi.mdi-phone-classic
                |  (024) 7603001, 7603002, 7603003
              li
                i.mdi.mdi-cellphone-iphone
                |  +62 815 7708 070
          .col-md-6.col-lg-3.col-xl-3.footer-contact
            h3.footer-title Subscribe
            .widget
              .newsletter-wrapper
                form#subscribe-form.validate(method='post', name='subscribe-form')
                  .form-group
                    input#EMAIL.email.form-control(type='email', value='', name='EMAIL', placeholder='Email Address', required='')
                    button#subscribe.btn.btn-common.pull-right(type='submit', name='subscribe') Join
                    .clearfix
            .widget
              h5.widget-title Useful Links
              ul.unordered-list
                li
                  a.nocolor(href='#') Terms of Use
                li
                  a.nocolor(href='#') Privacy Policy
                li
                  a.nocolor(href='#') Company Profile
                li
                  a.nocolor(href='#') Why Choose Us
      .footer-copyright
        .container
          .row
            .col-md-12.text-center
              p
                | © CARfix 2018. All right reserved. Designed with 
                i.mdi.mdi-heart
                |  by 
                a(href='#') PT MEKA ADIPRATAMA
    a.back-to-top(href='#')
      .ripple-container
      i.mdi.mdi-arrow-up
    #preloader
      #loader-1.loader

    script(src='http://localhost:3000/assets/js/jquery-min.js')
    script(src='http://localhost:3000/assets/js/popper.min.js')
    script(src='http://localhost:3000/assets/js/bootstrap.min.js')
    script(src='http://localhost:3000/assets/js/jquery.mixitup.min.js')
    script(src='http://localhost:3000/assets/js/jquery.inview.js')
    script(src='http://localhost:3000/assets/js/jquery.counterup.min.js')
    script(src='http://localhost:3000/assets/js/scroll-top.js')
    script(src='http://localhost:3000/assets/js/smoothscroll.js')
    script(src='http://localhost:3000/assets/js/material.min.js')
    script(src='http://localhost:3000/assets/js/ripples.min.js')
    script(src='http://localhost:3000/assets/js/owl.carousel.min.js')
    script(src='http://localhost:3000/assets/js/form-validator.min.js')
    script(src='http://localhost:3000/assets/js/contact-form-script.min.js')
    script(src='http://localhost:3000/assets/js/wow.js')
    script(src='http://localhost:3000/assets/js/jquery.vide.js')
    script(src='http://localhost:3000/assets/js/jquery.magnific-popup.min.js')
    script(src='http://localhost:3000/assets/js/jquery.slicknav.js')
    script(src='http://localhost:3000/assets/js/main.js')
    script(src='http://localhost:3000/assets/js/web-carfix.js')