extends layout-front

block content-front
  section.section-padding(style="margin-top: 64px")
    .container#main-product    
      .row
        .col-md-12.Material-title-section.wow.animated.fadeInLeft(data-wow-delay='.2s')
          h1.section-title Sparepart
          h6 CARfix bermitra dengan beberapa produk keluaran produsen otomotif
            | ternama seperti Michelin, Shell dan Incoe. Selain produk tersebut,
            | CARfix juga menyediakan berbagai sparepart sesuai kendaraan dan kebutuhan Anda!
          br

        #Material-portfolio.portfolio-item-wrapper.clearfix.wow.animated.fadeInUp.col-md-12(data-wow-delay='.5s')
          .row
            template(v-for="item, iter in productResults")
              template(v-if='item.product_type == "sparepart"')
                .col-6.col-lg-4.col-xl-4.pb-4.mix.business
                  figure.single-portfolio(style="margin-left: 20%;margin-right: 20%")
                    img.img-fluid(v-bind:src='"assets/images/product/"+item.file' v-bind:alt='item.title')
                    figcaption.hover-content
                      //- a.btn.btn-round.btn-fab.btn-xs(href='#')
                      //-   i.material-icons.mdi.mdi-arrow-right
                      //-   .ripple-container
                      a(href='#')
                        h2.subtitle {{ item.title }}
                      p {{ item.description }}
      hr
      .row
        .col-md-12.Material-title-section.wow.animated.fadeInLeft(data-wow-delay='.7s')
          h1.section-title Jasa / Produk Servis
          h6 Selain menyediakan sparepart diatas, CARfix juga melayani berbagai
            | jasa service untuk all merk mobil, meliputi :
          br
        .portfolio-item-wrapper.clearfix.wow.animated.fadeInUp.col-md-12(data-wow-delay='.10s')
          .row
            template(v-for="item, iter in productResults")
              template(v-if='item.product_type == "service"')
                .col-6.col-lg-3.col-xl-3.pb-3.mix.business
                  figure.single-portfolio(style="margin-left: 20%;margin-right: 20%; margin-bottom: 10%")
                    img.img-fluid(v-bind:src='"assets/images/product/"+item.file' v-bind:alt='item.title')
                    figcaption.hover-content
                      //- a.btn.btn-round.btn-fab.btn-xs(href='#')
                      //-   i.material-icons.mdi.mdi-arrow-right
                      //-   .ripple-container
                      a(href='#')
                        h2.subtitle {{ item.title }}
                      p {{ item.description }}
  script(src=env.URL_HOST+"assets/js/products-vue.js")