extends layout-front

block content-front
  section.section-padding(style="margin-top: 64px")
    .container
      .row
        .col-md-6.col-lg-4.col-xl-4.pb-4.mix.business
          figure.single-portfolio
            img.img-fluid(src='assets/images/portfolio/work1.jpg' alt='')
            figcaption.hover-content
              a.btn.btn-round.btn-fab.btn-xs(href='portfolio-single.html')
                i.material-icons.mdi.mdi-arrow-right
                .ripple-container
              a(href='portfolio-single.html')
                h2.subtitle Business Cards
              p Asus Inc.
        .col-md-6.col-lg-4.col-xl-4.mix.development.more
          figure.single-portfolio
            img.img-fluid(src='assets/images/portfolio/work2.jpg' alt='')
            figcaption.hover-content
              a.btn.btn-round.btn-fab.btn-xs(href='portfolio-single.html')
                i.material-icons.mdi.mdi-arrow-right
                .ripple-container
              a(href='portfolio-single.html')
                h2.subtitle Brochure Design
              p Tesla Motors
        .col-md-6.col-lg-4.col-xl-4.mix.creative.business
          figure.single-portfolio
            img.img-fluid(src='assets/images/portfolio/work3.jpg' alt='')
            figcaption.hover-content
              a.btn.btn-round.btn-fab.btn-xs(href='portfolio-single.html')
                i.material-icons.mdi.mdi-arrow-right
                .ripple-container
              a(href='portfolio-single.html')
                h2.subtitle Coffee Cup
              p Starbucks USA
        .col-md-6.col-lg-4.col-xl-4.mix.creative.more.development
          figure.single-portfolio
            img.img-fluid(src='assets/images/portfolio/work4.jpg' alt='')
            figcaption.hover-content
              a.btn.btn-round.btn-fab.btn-xs(href='portfolio-single.html')
                i.material-icons.mdi.mdi-arrow-right
                .ripple-container
              a(href='portfolio-single.html')
                h2.subtitle Landing Page
              p Uniliver, India
        .col-md-6.col-lg-4.col-xl-4.mix.more.development
          figure.single-portfolio
            img.img-fluid(src='assets/images/portfolio/work5.jpg' alt='')
            figcaption.hover-content
              a.btn.btn-round.btn-fab.btn-xs(href='portfolio-single.html')
                i.material-icons.mdi.mdi-arrow-right
                .ripple-container
              a(href='portfolio-single.html')
                h2.subtitle Dashboard Design
              p Linode Inc.
        .col-md-6.col-lg-4.col-xl-4.mix.creative.business
          figure.single-portfolio
            img.img-fluid(src='assets/images/portfolio/work6.jpg' alt='')
            figcaption.hover-content
              a.btn.btn-round.btn-fab.btn-xs(href='portfolio-single.html')
                i.material-icons.mdi.mdi-arrow-right
                .ripple-container
              a(href='portfolio-single.html')
                h2.subtitle Re-Branding
              p Alphabet Inc.
