extends layout-front

block content-front
  .section.section-padding
    .container(style="margin-top: 64px")
      .row(style="text-align: center")
        .col-md-6
          img(src='assets/images/grb-kcl-400x300.jpg', alt='promotion')
        .col-md-6.centerText
          b Diskon 50%, Bagi Mitra Grab
          br
          a(href="http://www.bit.ly/KontakCARfix", target="_blank")
            button.btn.btn-common(type='submit', style="background: #ff6565")
              i.material-icons.mdi.mdi-star
              |  Booking Sekarang!
              

