extends layout-front

block content-front
  section.portfolio-details-section.section-padding
  .container
    .row#appPromo
      .col-md-12.Material-title-section.wow.animated.fadeInLeft(data-wow-delay='.2s')
        h1.section-title All Promo's
      template(v-for="item, iterasi in promoResults")
        .row
          .col-md-8.portfolio-details-iamge.wow.animated.fadeInUp(data-wow-delay='.6s')
            img.img-fluid(v-bind:src="'assets/images/promo/'+item.file", alt='')
          .col-md-4.portfolio-details.wow.animated.fadeInUp(data-wow-delay='.6s')
            .portfolio-category
              a(href='#')
                i.material-icons.mdi.mdi-bookmark-outline
                |  P{{iterasi+1}}
            h2 {{item.title}}
            p
              | {{item.description}}
            a(href='#')
              i.material-icons.mdi.mdi-update
              |  {{item.created_at}}
            a.mt-3.btn.btn-common.btn-block(href='javascript:void(0)')
              i.material-icons.mdi.mdi-eye
              |  More Information
              .ripple-container
        br
        hr
        br

  script(src=env.URL_HOST+'assets/js/promo-vue.js')