extends layout-front

block content-front
  section.portfolio-details-section.section-padding
  .container
    .row
      .col-md-12.Material-title-section.wow.animated.fadeInLeft(data-wow-delay='.2s')
        h1.section-title All Promo's
    .row
      .col-md-8.portfolio-details-iamge.wow.animated.fadeInUp(data-wow-delay='.6s')
        img.img-fluid(src='assets/images/portfolio/portfolio-details.png', alt='')
      .col-md-4.portfolio-details.wow.animated.fadeInUp(data-wow-delay='.6s')
        .portfolio-category
          a(href='#')
            i.material-icons.mdi.mdi-bookmark-outline
            |  Wordpress Theme
        h2 CONBIZ
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        ul.portfolio-meta.clearfix
          li
            span  Client 
            |  XYZ
          li
            span  Created by 
            |  John Doe
          li
            span  Completed on 
            |  15 Nov 2017
          li
            span  Skills 
            |  WordPress / PHP / CSS3
          li
            span  Share 
            a(href='#')
              i.mdi.mdi-facebook
            a(href='#')
              i.mdi.mdi-twitter
            a(href='#')
              i.mdi.mdi-linkedin
            a(href='#')
              i.mdi.mdi-dribbble
        a.mt-3.btn.btn-common.btn-block(href='javascript:void(0)')
          i.material-icons.mdi.mdi-eye
          |  Live Demo
          .ripple-container
    br
    hr
    br
    .row
      .col-md-8.portfolio-details-iamge.wow.animated.fadeInUp(data-wow-delay='.6s')
        img.img-fluid(src='assets/images/portfolio/portfolio-details.png', alt='')
      .col-md-4.portfolio-details.wow.animated.fadeInUp(data-wow-delay='.6s')
        .portfolio-category
          a(href='#')
            i.material-icons.mdi.mdi-bookmark-outline
            |  Wordpress Theme
        h2 CONBIZ
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        ul.portfolio-meta.clearfix
          li
            span  Client 
            |  XYZ
          li
            span  Created by 
            |  John Doe
          li
            span  Completed on 
            |  15 Nov 2017
          li
            span  Skills 
            |  WordPress / PHP / CSS3
          li
            span  Share 
            a(href='#')
              i.mdi.mdi-facebook
            a(href='#')
              i.mdi.mdi-twitter
            a(href='#')
              i.mdi.mdi-linkedin
            a(href='#')
              i.mdi.mdi-dribbble
        a.mt-3.btn.btn-common.btn-block(href='javascript:void(0)')
          i.material-icons.mdi.mdi-eye
          |  Live Demo
          .ripple-container
    br
    hr
    br