body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centerText{
  text-align: center;
}

.verticalCenterText{
  vertical-align: middle !important;
}

.leftFloat {
  float: left;
}
